<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>834335995654-8t7m74uchbk5c4ogd2nr0k7bg7p53bbv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.834335995654-8t7m74uchbk5c4ogd2nr0k7bg7p53bbv</string>
	<key>API_KEY</key>
	<string>AIzaSyDaeZD-dZKEEfESi-g6BuYW5yaPspEgVYc</string>
	<key>GCM_SENDER_ID</key>
	<string>834335995654</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.recan.application</string>
	<key>PROJECT_ID</key>
	<string>recan-e0b7c</string>
	<key>STORAGE_BUCKET</key>
	<string>recan-e0b7c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:834335995654:ios:3ebe9a0590becbb60e5087</string>
</dict>
</plist>